<div class="container" *ngIf="!isSuccess">
    <h4 class="text-center my-4">Order Shipping</h4>
    <div class="container my-4" *ngIf="isError">
        <div class="alert alert-danger text-center" role="alert">
            Invalid inputs. Please try again.
        </div>      
    </div>
    <form #form="ngForm" (ngSubmit)="createOrder()">
        <div class="inputs-container">
            <div class="input-group mb-3">
                <span class="input-group-text">First and last name</span>
                <input type="text" class="form-control" id="firstName" 
                name="firstName" [(ngModel)] = "order.customerName" placeholder="First Name">
                <input type="text" class="form-control" id="lastName"
                name="lastName" [(ngModel)] = "order.customerLastName" placeholder="Last Name">
              </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Email</span>
                <input type="email" class="form-control" id="email"
                name="email" [(ngModel)] = "order.email" placeholder="Email">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text">Enter addresses</span>
                <input type="text" class="form-control" id="pickupAddress" 
                name="pickupAddress" [(ngModel)] = "order.pickupAddress" placeholder="Pickup Address">
                <input type="text" class="form-control" id="lastName"
                name="shippingAddress" [(ngModel)] = "order.shippingAddress" placeholder="Shipping Address">
              </div>
            <div class="mb-3" *ngIf="order.price === 0">
                <div class="input-group mb-3">
                    <span class="input-group-text">Enter Weight</span>
                    <input type="text" class="form-control" id="weight" name="weight" [(ngModel)]="order.weight" placeholder="Weight">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Enter package volume values(width, height, length)</span>
                    <input type="text" class="form-control" id="width" name="width" [(ngModel)]="order.width" placeholder="Width">
                    <input type="text" class="form-control" id="height" name="height" [(ngModel)]="order.height" placeholder="Height">
                    <input type="text" class="form-control" id="length" name="length" [(ngModel)]="order.length" placeholder="Length">
                </div>
            </div>
            
            <div class="mb-3" *ngIf="order.price !== 0">
                <div class="input-group mb-3">
                    <span class="input-group-text">Weight</span>
                    <input type="text" class="form-control" id="weight" name="weight" [(ngModel)]="order.weight" readonly disabled>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Package volume values(width, height, length)</span>
                    <input type="text" class="form-control" id="width" name="width" [(ngModel)]="order.width" readonly disabled>
                    <input type="text" class="form-control" id="height" name="height" [(ngModel)]="order.height" readonly disabled>
                    <input type="text" class="form-control" id="length" name="length" [(ngModel)]="order.length" readonly disabled>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Price</span>
                    <input type="text" class="form-control" id="price"
                    name="price" [(ngModel)] = "order.price" readonly disabled>
                </div>
            </div>
        </div>
        <div class="container text-center">
            <button type="submit container" class="btn btn-primary">Order</button>
        </div>
    </form>
</div>
<div class="container my-4" *ngIf="isSuccess">
    <div class="alert alert-success text-center" role="alert">
        <h4>Order registered successfully.</h4>
    </div>      
</div>