<div class="container wrapper">
    <div>
        <a type="button" class="btn btn-secondary btn-lg container" routerLink="admins">Admins</a>
    </div>
    <div>
        <a type="button" class="btn btn-secondary btn-lg container" routerLink="companies">Companies</a>
    </div>
    <div>
        <a type="button" class="btn btn-secondary btn-lg container" routerLink="inquiries">Parcel Inquiry Statistics</a>
    </div>
    <div>
        <a type="button" class="btn btn-secondary btn-lg container" routerLink="orders">Orders Statistics</a>
    </div>
</div>