<div class="container" *ngIf="!isSuccess">
    <h4 class="text-center my-4">Edit Company</h4>
    <div class="container my-4" *ngIf="isError">
        <div class="alert alert-danger text-center" role="alert">
            Invalid inputs. Please try again.
        </div>      
    </div>
    <form #form="ngForm" (ngSubmit)="editCompany()">
        <div class="inputs-container">
            <div class="mb-3">
                <label for="name" class="form-label">Company Name</label>
                <input type="text" class="form-control" id="name" 
                name="name" [(ngModel)] = "companyDetails.name">
            </div>
            <div class="mb-3">
                <label for="parcelLimitations-minVolume" class="form-label">Minimum Volume</label>
                <input type="text" class="form-control" id="parcelLimitations-minVolume"
                name="parcelLimitations-minVolume" [(ngModel)] = "companyDetails.parcelLimitations.minVolume">
            </div>
            <div class="mb-3">
                <label for="parcelLimitations-minVolume" class="form-label">Maximum Volume
                    <p><small><i>Leave 0 if company doesn't have limit on package volume</i></small></p>
                </label>
                <input type="text" class="form-control" id="parcelLimitations-maxVolume" 
                name="parcelLimitations-maxVolume" [(ngModel)] = "companyDetails.parcelLimitations.maxVolume">
            </div>
            <div class="mb-3">
                <label for="parcelLimitations-minWeight" class="form-label">Minimum Weight</label>
                <input type="text" class="form-control" id="parcelLimitations-minWeight"
                name="parcelLimitations-minWeight" [(ngModel)] = "companyDetails.parcelLimitations.minWeight">
            </div>
            <div class="mb-3">
                <label for="parcelLimitations-maxWeight" class="form-label">Maximum Weight
                    <p><small><i>Leave 0 if company doesn't have limit on package weight</i></small></p>
                </label>
                <input type="text" class="form-control" id="parcelLimitations-maxWeight" 
                name="parcelLimitations-maxWeight" [(ngModel)] = "companyDetails.parcelLimitations.maxWeight">
            </div>
            <div class="mb-3" *ngIf="companyDetails.parcelVolumeRange.length > 0">
                <label>Add volume ranges and price one by one</label>
                <p><small><i>Leave 0 if company doesn't have limit on package volume</i></small></p>
                <div class="input-group">
                    <span class="input-group-text">#</span> 
                    <input type="text" aria-label="Min volume" class="form-control" placeholder="Min" readonly disabled>
                    <input type="text" aria-label="Max volume" class="form-control" placeholder="Max" readonly disabled>
                    <input type="text" aria-label="Price volume" class="form-control" placeholder="Price" readonly disabled>
                </div> 
                <div class="input-group" *ngFor="let range of companyDetails.parcelVolumeRange"> 
                    <span class="input-group-text">#</span> 
                    <input type="text" label="minimum" aria-label="Min volume" class="form-control" placeholder="Minimum Volume for Range" [(ngModel)]="range.minVolume" [ngModelOptions]="{standalone: true}">
                    <input type="text" aria-label="Max volume" class="form-control" placeholder="Maximum Volume for Range" [(ngModel)]="range.maxVolume" [ngModelOptions]="{standalone: true}">
                    <input type="text" aria-label="Price volume" class="form-control" placeholder="Price" [(ngModel)]="range.price" [ngModelOptions]="{standalone: true}">
                  </div>
            </div>
            <div class="mb-3" *ngIf="companyDetails.parcelWeightRange.length > 0">
                <label>Add weight ranges and price one by one</label>
                <p><small><i>Leave 0 if company doesn't have limit on package volume or doesn't have incremental price</i></small></p>
                <div class="input-group">
                    <span class="input-group-text">#</span> 
                    <input type="text" aria-label="Min volume" class="form-control" placeholder="Min" readonly disabled>
                    <input type="text" aria-label="Max volume" class="form-control" placeholder="Max" readonly disabled>
                    <input type="text" aria-label="Min volume" class="form-control" placeholder="Inc starting" readonly disabled>
                    <input type="text" aria-label="Max volume" class="form-control" placeholder="Inc value" readonly disabled>
                    <input type="text" aria-label="Price volume" class="form-control" placeholder="Price" readonly disabled>
                </div> 

                <div class="input-group" *ngFor="let range of companyDetails.parcelWeightRange"> 
                    <span class="input-group-text">#</span> 
                    <input type="text" aria-label="Min volume" class="form-control" placeholder="Minimum Volume for Range" [(ngModel)]="range.minWeight" [ngModelOptions]="{standalone: true}">
                    <input type="text" aria-label="Max volume" class="form-control" placeholder="Maximum Volume for Range" [(ngModel)]="range.maxWeight" [ngModelOptions]="{standalone: true}">
                    <input type="text" aria-label="Min volume" class="form-control" placeholder="Incremental Price Starting Point" [(ngModel)]="range.incrementalPriceStartingPoint" [ngModelOptions]="{standalone: true}">
                    <input type="text" aria-label="Max volume" class="form-control" placeholder="incremental Price Value" [(ngModel)]="range.incrementalPriceValue" [ngModelOptions]="{standalone: true}">
                    <input type="text" aria-label="Price volume" class="form-control" placeholder="Price" [(ngModel)]="range.price" [ngModelOptions]="{standalone: true}">
                  </div>
            </div>
        </div>
        <div class="container">
            <button type="submit" class="btn btn-primary container">Save</button>
        </div>
    </form>
</div>

<div class="container my-4" *ngIf="isSuccess">
    <div class="alert alert-success text-center" role="alert">
        Company details successfully updated.
        <div><a routerLink="./../../../companies" class="alert-link">Return to Companies managment</a></div>
        <div><a routerLink="./../../../../admin" class="alert-link">Return to Dashboard</a></div>
    </div>      
</div>