<div class="container" *ngIf="!isSuccess">
    <h4 class="text-center my-4">Edit Company</h4>
    <div class="container my-4" *ngIf="isError">
        <div class="alert alert-danger text-center" role="alert">
            {{errMsg}}
        </div>
    </div>
    <form #form="ngForm" (ngSubmit)="editCompany()" (keydown.enter)="$event.preventDefault()">
        <div class="inputs-container">
            <div class="mb-3">
                <label for="name" class="form-label">Company Name</label>
                <input type="text" class="form-control" id="name" name="name" [(ngModel)]="companyDetails.name">
            </div>
            <div class="mb-3">
                <div class="input-group mb-3">
                    <span for="parcelLimitations-minVolume" class="input-group-text">Minimum Volume</span>
                    <input type="number" class="form-control" id="parcelLimitations-minVolume"
                        name="parcelLimitations-minVolume" [(ngModel)]="companyDetails.parcelLimitations.minVolume">
                </div>
                <p><small><i>Leave 0 if company doesn't have limit on package volume</i></small></p>
                <div class="input-group mb-3">
                    <span for="parcelLimitations-minVolume" class="input-group-text">Maximum Volume</span>
                    <input type="number" class="form-control" id="parcelLimitations-maxVolume"
                        name="parcelLimitations-maxVolume" [(ngModel)]="companyDetails.parcelLimitations.maxVolume">
                </div>
                <div class="input-group mb-3">
                    <span for="parcelLimitations-minWeight" class="input-group-text">Minimum Weight</span>
                    <input type="number" class="form-control" id="parcelLimitations-minWeight"
                        name="parcelLimitations-minWeight" [(ngModel)]="companyDetails.parcelLimitations.minWeight">
                </div>
                <p><small><i>Leave 0 if company doesn't have limit on package weight</i></small></p>
                <div class="input-group mb-3">
                    <span for="parcelLimitations-maxWeight" class="input-group-text">Maximum Weight</span>
                    <input type="number" class="form-control" id="parcelLimitations-maxWeight"
                        name="parcelLimitations-maxWeight" [(ngModel)]="companyDetails.parcelLimitations.maxWeight">
                </div>
            </div>
            <div class="input group mb-3">
                <label for="volumeRangePairs" class="form-label">Would you like to change the number of volume range and
                    price pairs?</label>
                <div class="input-group mb-3">
                    <input type="number" class="form-control" [(ngModel)]="volumeRangePairs"
                        [ngModelOptions]="{standalone: true}">
                    <button class="btn btn-outline-secondary" type="button"
                        (click)="handleVolumeRangePairsNumberInput()">Insert</button>
                </div>
            </div>
            <div class="mb-3" *ngIf="companyDetails.parcelVolumeRange.length > 0">
                <label>Change volume ranges</label>
                <p><small><i>Leave 0 if company doesn't have limit on package volume</i></small></p>
                <div class="input-group">
                    <span class="input-group-text">#</span>
                    <input type="number" aria-label="Min volume" class="form-control" placeholder="Min" readonly disabled>
                    <input type="number" aria-label="Max volume" class="form-control" placeholder="Max" readonly disabled>
                    <input type="number" aria-label="Price volume" class="form-control" placeholder="Price" readonly
                        disabled>
                </div>
                <div class="input-group" *ngFor="let range of companyDetails.parcelVolumeRange">
                    <span class="input-group-text">#</span>
                    <input type="number" label="minimum" aria-label="Min volume" class="form-control"
                        placeholder="Minimum Volume for Range" [(ngModel)]="range.minVolume"
                        [ngModelOptions]="{standalone: true}">
                    <input type="number" aria-label="Max volume" class="form-control"
                        placeholder="Maximum Volume for Range" [(ngModel)]="range.maxVolume"
                        [ngModelOptions]="{standalone: true}">
                    <input type="number" aria-label="Price volume" class="form-control" placeholder="Price"
                        [(ngModel)]="range.price" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
            <div class="input group mb-3">
                <label for="parcelLimitations-maxWeight" class="form-label">Would you like to change the number of
                    weight range and price pairs?</label>
                <div class="input-group mb-3">
                    <input type="number" class="form-control" [(ngModel)]="weightRangePairs"
                        [ngModelOptions]="{standalone: true}">
                    <button class="btn btn-outline-secondary" type="button"
                        (click)="handleWeightRangePairsNumberInput()">Insert</button>
                </div>
            </div>
            <div class="mb-3" *ngIf="companyDetails.parcelWeightRange.length > 0">
                <label>Change weight ranges</label>
                <p><small><i>Leave 0 if company doesn't have limit on package volume or doesn't have incremental
                            price</i></small></p>
                <div class="input-group">
                    <span class="input-group-text">#</span>
                    <input type="number" aria-label="Min volume" class="form-control" placeholder="Min" readonly disabled>
                    <input type="number" aria-label="Max volume" class="form-control" placeholder="Max" readonly disabled>
                    <input type="number" aria-label="Min volume" class="form-control" placeholder="Inc starting" readonly
                        disabled>
                    <input type="number" aria-label="Max volume" class="form-control" placeholder="Inc value" readonly
                        disabled>
                    <input type="number" aria-label="Price volume" class="form-control" placeholder="Price" readonly
                        disabled>
                </div>
                <div class="input-group" *ngFor="let range of companyDetails.parcelWeightRange">
                    <span class="input-group-text">#</span>
                    <input type="number" aria-label="Min volume" class="form-control"
                        placeholder="Minimum Volume for Range" [(ngModel)]="range.minWeight"
                        [ngModelOptions]="{standalone: true}">
                    <input type="number" aria-label="Max volume" class="form-control"
                        placeholder="Maximum Volume for Range" [(ngModel)]="range.maxWeight"
                        [ngModelOptions]="{standalone: true}">
                    <input type="number" aria-label="Min volume" class="form-control"
                        placeholder="Incremental Price Starting Point" [(ngModel)]="range.incrementalPriceStartingPoint"
                        [ngModelOptions]="{standalone: true}">
                    <input type="number" aria-label="Max volume" class="form-control"
                        placeholder="incremental Price Value" [(ngModel)]="range.incrementalPriceValue"
                        [ngModelOptions]="{standalone: true}">
                    <input type="number" aria-label="Price volume" class="form-control" placeholder="Price"
                        [(ngModel)]="range.price" [ngModelOptions]="{standalone: true}">
                </div>
            </div>
        </div>
        <div class="container">
            <button type="submit" class="btn btn-primary container">Save</button>
        </div>
    </form>
</div>
<div class="container my-4" *ngIf="isSuccess">
    <div class="alert alert-success text-center" role="alert">
        Company details successfully updated.
        <div><a routerLink="./../../../companies" class="alert-link">Return to Companies managment</a></div>
        <div><a routerLink="./../../../../admin" class="alert-link">Return to Dashboard</a></div>
    </div>
</div>