<div class="container" *ngIf="!isSuccess">
    <div class="container">

        <h4 class="text-center my-4">Edit Admin</h4>
        <div class="container my-4" *ngIf="isError">
            <div class="alert alert-danger text-center" role="alert">
                Error: {{errMsg}}
            </div>
        </div>
        <form #form="ngForm" (ngSubmit)="editAdmin()">
            <div class="inputs-container">
                <div class="mb-3">
                    <label for="fullName" class="form-label">ID</label>
                    <input type="text" class="form-control bg-secondary" id="id" name="id" [(ngModel)]="adminDetails.id"
                        readonly disabled="true">
                </div>
                <div class="mb-3">
                    <label for="fullName" class="form-label">Full Name</label>
                    <input type="text" class="form-control" id="fullName" name="fullName"
                        [(ngModel)]="adminDetails.fullName">
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username"
                        [(ngModel)]="adminDetails.username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                        [(ngModel)]="adminDetails.password">
                </div>
                <div id="passwordHelpBlock" class="form-text">
                    <p>
                        Enter new password if you wish to change it or enter the old one if you are updating other
                        properties.
                    </p>
                    <p>
                        Password must contain at least one uppercase letter, one lowercase letter, one number and can't
                        be
                        shorter than 8 characters.
                    </p>
                </div>
                <div class="mb-3 my-3 form-check">
                    <input type="checkbox" class="form-check-input" id="canManageAdmins" name="canManageAdmins"
                        [(ngModel)]="adminDetails.canManageAdmins">
                    <label class="form-check-label" for="canManageAdmins">Can Manage Admins</label>
                </div>
            </div>
            <div class="container">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

<div class="container my-4" *ngIf="isSuccess">
    <div class="alert alert-success text-center" role="alert">
        Admin successfully updated.
        <div><a routerLink="./../../../admins" class="alert-link">Return to Admins managment</a></div>
        <div><a routerLink="./../../../../admin" class="alert-link">Return to Dashboard</a></div>
    </div>
</div>